<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainItem</key>
	<array>
		<dict>
			<key>CanDangNhap</key>
			<true/>
			<key>KieuChuyenView</key>
			<string></string>
			<key>TieuDe</key>
			<string>chuyen_tien</string>
			<key>TenViewController</key>
			<string></string>
			<key>AnhDaiDien</key>
			<string>icon-chuyentien-64x64</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>chuyen_tien_den_dt</string>
					<key>TenViewController</key>
					<string>DucNT_ChuyenTienViDenDienThoai</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>chuyen_tien_den_vi</string>
					<key>TenViewController</key>
					<string>DucNT_ChuyenTienViDenViViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>chuyen_tien_den_tai_khoan</string>
					<key>TenViewController</key>
					<string>DucNT_ChuyenTienDenTaiKhoanViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>chuyen_tien_den_the_ngan_hang</string>
					<key>TenViewController</key>
					<string>DucNT_ChuyenTienDenTheViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>chuyen_tien_den_tan_nha</string>
					<key>TenViewController</key>
					<string>ChuyenTienTanNhaViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>chuyen_tien_den_atm</string>
					<key>TenViewController</key>
					<string>GiaoDienChuyenTienATM</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>chuyen_tien_cmnd</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>den_vi_dien_tu_khac</string>
					<key>TenViewController</key>
					<string>ChuyenTienDenViMomoViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>gui_tiet_kiem</string>
					<key>TenViewController</key>
					<string>GuiTietKiemViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<true/>
			<key>KieuChuyenView</key>
			<string></string>
			<key>TieuDe</key>
			<string>thanh_toan</string>
			<key>TenViewController</key>
			<string></string>
			<key>AnhDaiDien</key>
			<string>icon-thanhtoan-64x64</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_dien_thoai</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string>xuLySuKienChonThanhToanMobifone</string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_mua_ve_xem_phim</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_mua_ve_may_bay</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_ve_xe_khach</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_dich_vu_bao_hiem</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_dich_vu_dien</string>
					<key>TenViewController</key>
					<string>TraCuuTienDienViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_dich_vu_nuoc</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_dich_vu_internet</string>
					<key>TenViewController</key>
					<string>GiaoDienThanhToanInternet</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_dich_vu_truyen_hinh</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_dich_vu_hoc_phi</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thanh_toan_chung_khoan</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<false/>
			<key>KieuChuyenView</key>
			<string>push</string>
			<key>TieuDe</key>
			<string>chuky_so</string>
			<key>TenViewController</key>
			<string>PKIViewController</string>
			<key>AnhDaiDien</key>
			<string>icon-PKI-64x64</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<true/>
			<key>KieuChuyenView</key>
			<string>push</string>
			<key>TieuDe</key>
			<string>tai_khoan_lien_ket</string>
			<key>TenViewController</key>
			<string>GiaoDienTaiKhoanLienKet</string>
			<key>AnhDaiDien</key>
			<string>Xich</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<false/>
			<key>KieuChuyenView</key>
			<string>push</string>
			<key>TieuDe</key>
			<string>chonvi_tk</string>
			<key>TenViewController</key>
			<string>ChonViTK</string>
			<key>AnhDaiDien</key>
			<string>Combox</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<true/>
			<key>KieuChuyenView</key>
			<string>push</string>
			<key>TieuDe</key>
			<string>sao_ke</string>
			<key>TenViewController</key>
			<string>DucNT_SaoKeViewController</string>
			<key>AnhDaiDien</key>
			<string>icon-saoke-64x64</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<true/>
			<key>KieuChuyenView</key>
			<string></string>
			<key>TieuDe</key>
			<string>thay_doi</string>
			<key>TenViewController</key>
			<string></string>
			<key>AnhDaiDien</key>
			<string>Change</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>mat_khau</string>
					<key>TenViewController</key>
					<string>DucNT_ChangePassSceen</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>token</string>
					<key>TenViewController</key>
					<string></string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string>xuLySuKienBamNutPhoneToken</string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>thong_tin_vi</string>
					<key>TenViewController</key>
					<string>DucNT_ChangPrivateInformationViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
				<dict>
					<key>CanDangNhap</key>
					<true/>
					<key>KieuChuyenView</key>
					<string>push</string>
					<key>TieuDe</key>
					<string>han_muc_giao_dich</string>
					<key>TenViewController</key>
					<string>HanMucGiaoDichViewController</string>
					<key>AnhDaiDien</key>
					<string></string>
					<key>TenHamXuLy</key>
					<string></string>
					<key>dsCon</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<true/>
			<key>KieuChuyenView</key>
			<string>push</string>
			<key>TieuDe</key>
			<string>muon_tien</string>
			<key>TenViewController</key>
			<string>MuonTienViewController</string>
			<key>AnhDaiDien</key>
			<string>icon-muontien-64x64</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<true/>
			<key>KieuChuyenView</key>
			<string>push</string>
			<key>TieuDe</key>
			<string>tang_qua</string>
			<key>TenViewController</key>
			<string>DanhSachQuaTangViewController</string>
			<key>AnhDaiDien</key>
			<string>icon-tangqua-64x64</string>
			<key>TenHamXuLy</key>
			<string></string>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>CanDangNhap</key>
			<false/>
			<key>KieuChuyenView</key>
			<string></string>
			<key>TieuDe</key>
			<string>dang_xuat</string>
			<key>TenViewController</key>
			<string></string>
			<key>AnhDaiDien</key>
			<string>icon-dangxuat-64x64</string>
			<key>TenHamXuLy</key>
			<string>suKienDangXuat</string>
			<key>dsCon</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
