<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainItem</key>
	<array>
		<dict>
			<key>ten</key>
			<string>Hà Nội</string>
			<key>lat</key>
			<real>21.028363</real>
			<key>lng</key>
			<string>105.854175</string>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array>
				<dict>
					<key>ten</key>
					<string>UBND TP Hà Nội</string>
					<key>lat</key>
					<real>21.028363</real>
					<key>lng</key>
					<real>105.854175</real>
					<key>kc</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hai Bà Trưng</string>
					<key>lat</key>
					<real>21.010058</real>
					<key>lng</key>
					<real>105.84986</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hoàng Mai</string>
					<key>lat</key>
					<real>20.984506</real>
					<key>lng</key>
					<real>105.86232</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Ba Đình</string>
					<key>lat</key>
					<real>21.033881</real>
					<key>lng</key>
					<real>105.814419</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thanh Xuân</string>
					<key>lat</key>
					<real>20.994683</real>
					<key>lng</key>
					<real>105.799858</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Tây Hồ</string>
					<key>lat</key>
					<real>21.069696</real>
					<key>lng</key>
					<real>105.811839</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hoàn Kiếm</string>
					<key>lat</key>
					<real>21.029267</real>
					<key>lng</key>
					<real>105.850542</real>
					<key>kc</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Cầu Giấy</string>
					<key>lat</key>
					<real>21.030666</real>
					<key>lng</key>
					<real>105.801237</real>
					<key>kc</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Đống Đa</string>
					<key>lat</key>
					<real>21.020012</real>
					<key>lng</key>
					<real>105.83078</real>
					<key>kc</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Long Biên</string>
					<key>lat</key>
					<real>21.06253</real>
					<key>lng</key>
					<real>105.901978</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hà Đông</string>
					<key>lat</key>
					<real>20.971318</real>
					<key>lng</key>
					<real>105.779597</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Sơn Tây</string>
					<key>lat</key>
					<real>21.140909</real>
					<key>lng</key>
					<real>105.505462</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Ba Vì</string>
					<key>lat</key>
					<real>21.198321</real>
					<key>lng</key>
					<real>105.42231</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Chương Mỹ</string>
					<key>lat</key>
					<real>20.923919</real>
					<key>lng</key>
					<real>105.701195</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Đan Phượng</string>
					<key>lat</key>
					<real>21.082452</real>
					<key>lng</key>
					<real>105.672202</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Đông Anh</string>
					<key>lat</key>
					<real>21.155291</real>
					<key>lng</key>
					<real>105.846876</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thanh Oai</string>
					<key>lat</key>
					<real>20.852668</real>
					<key>lng</key>
					<real>105.769411</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hoài Đức</string>
					<key>lat</key>
					<real>21.066019</real>
					<key>lng</key>
					<real>105.708163</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Gia Lâm</string>
					<key>lat</key>
					<real>21.019486</real>
					<key>lng</key>
					<real>105.937103</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Mê Linh</string>
					<key>lat</key>
					<real>21.181821</real>
					<key>lng</key>
					<real>105.719332</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Từ Liêm</string>
					<key>lat</key>
					<real>21.039195</real>
					<key>lng</key>
					<real>105.76692</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Phú Xuyên</string>
					<key>lat</key>
					<real>20.745741</real>
					<key>lng</key>
					<real>105.91352</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thanh Trì</string>
					<key>lat</key>
					<real>20.946673</real>
					<key>lng</key>
					<real>105.844721</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thường Tín</string>
					<key>lat</key>
					<real>20.868454</real>
					<key>lng</key>
					<real>105.861557</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Mỹ Đức</string>
					<key>lat</key>
					<real>20.686612</real>
					<key>lng</key>
					<real>105.744746</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Phúc Thọ</string>
					<key>lat</key>
					<real>21.111335</real>
					<key>lng</key>
					<real>105.582036</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quốc Oai</string>
					<key>lat</key>
					<real>20.992673</real>
					<key>lng</key>
					<real>105.642769</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Sóc Sơn</string>
					<key>lat</key>
					<real>21.257567</real>
					<key>lng</key>
					<real>105.848618</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thạch Thất</string>
					<key>lat</key>
					<real>21.054859</real>
					<key>lng</key>
					<real>105.578215</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Ứng Hòa</string>
					<key>lat</key>
					<real>20.734233</real>
					<key>lng</key>
					<real>105.767394</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hồ Chí Minh</string>
			<key>lat</key>
			<real>10.777075</real>
			<key>lng</key>
			<real>106.701155</real>
			<key>kc</key>
			<integer>60</integer>
			<key>dsCon</key>
			<array>
				<dict>
					<key>ten</key>
					<string>UBND TP Hồ Chí Minh</string>
					<key>lat</key>
					<real>10.777075</real>
					<key>lng</key>
					<real>106.701155</real>
					<key>kc</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 1</string>
					<key>lat</key>
					<real>10.78055</real>
					<key>lng</key>
					<real>106.69924</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 2</string>
					<key>lat</key>
					<real>10.791827</real>
					<key>lng</key>
					<real>106.749322</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 3</string>
					<key>lat</key>
					<real>10.775085</real>
					<key>lng</key>
					<real>106.686333</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 4</string>
					<key>lat</key>
					<real>10.766537</real>
					<key>lng</key>
					<real>106.70616</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 5</string>
					<key>lat</key>
					<real>10.755918</real>
					<key>lng</key>
					<real>106.667435</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 6</string>
					<key>lat</key>
					<real>10.746458</real>
					<key>lng</key>
					<real>106.64958</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 7</string>
					<key>lat</key>
					<real>10.711909</real>
					<key>lng</key>
					<real>106.736405</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 8</string>
					<key>lat</key>
					<real>10.741156</real>
					<key>lng</key>
					<real>106.665873</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 9</string>
					<key>lat</key>
					<real>10.83975</real>
					<key>lng</key>
					<real>106.771048</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 10</string>
					<key>lat</key>
					<real>10.767675</real>
					<key>lng</key>
					<real>106.666491</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 11</string>
					<key>lat</key>
					<real>10.763692</real>
					<key>lng</key>
					<real>106.643885</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Quận 12</string>
					<key>lat</key>
					<real>10.862172</real>
					<key>lng</key>
					<real>106.654634</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Gò Vấp</string>
					<key>lat</key>
					<real>10.83192</real>
					<key>lng</key>
					<real>106.669338</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Tân Bình</string>
					<key>lat</key>
					<real>10.798651</real>
					<key>lng</key>
					<real>106.642506</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Phú Nhuận</string>
					<key>lat</key>
					<real>10.795094</real>
					<key>lng</key>
					<real>106.676022</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Bình Thạnh</string>
					<key>lat</key>
					<real>10.803267</real>
					<key>lng</key>
					<real>106.696702</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thủ Đức</string>
					<key>lat</key>
					<real>10.848822</real>
					<key>lng</key>
					<real>106.772496</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Tân Phú</string>
					<key>lat</key>
					<real>10.783617</real>
					<key>lng</key>
					<real>106.637065</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Bình Tân</string>
					<key>lat</key>
					<real>10.737166</real>
					<key>lng</key>
					<real>106.614895</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Bình Chánh</string>
					<key>lat</key>
					<real>10.695189</real>
					<key>lng</key>
					<real>106.591125</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hóc Môn</string>
					<key>lat</key>
					<real>10.889314</real>
					<key>lng</key>
					<real>106.595487</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Cần Giờ</string>
					<key>lat</key>
					<real>10.411138</real>
					<key>lng</key>
					<real>106.954476</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Củ Chi</string>
					<key>lat</key>
					<real>10.973395</real>
					<key>lng</key>
					<real>106.494955</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Nhà Bè</string>
					<key>lat</key>
					<real>10.674583</real>
					<key>lng</key>
					<real>106.732848</real>
					<key>kc</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ten</key>
			<string>Đà Nẵng</string>
			<key>lat</key>
			<real>16.075506</real>
			<key>lng</key>
			<real>108.224129</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array>
				<dict>
					<key>ten</key>
					<string>UBND TP Đà Nẵng</string>
					<key>lat</key>
					<real>16.075506</real>
					<key>lng</key>
					<real>108.224129</real>
					<key>kc</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Cẩm Lệ</string>
					<key>lat</key>
					<real>16.016987</real>
					<key>lng</key>
					<real>108.20353</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hải Châu</string>
					<key>lat</key>
					<real>16.06196</real>
					<key>lng</key>
					<real>108.22274</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Liên Chiểu</string>
					<key>lat</key>
					<real>16.072852</real>
					<key>lng</key>
					<real>108.158131</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Ngũ Hành Sơn</string>
					<key>lat</key>
					<real>16.016384</real>
					<key>lng</key>
					<real>108.253755</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Sơn Trà</string>
					<key>lat</key>
					<real>16.060645</real>
					<key>lng</key>
					<real>108.232659</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thanh Khê</string>
					<key>lat</key>
					<real>16.071125</real>
					<key>lng</key>
					<real>108.191144</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hoàng Sa</string>
					<key>lat</key>
					<real>16.064609</real>
					<key>lng</key>
					<real>108.222335</real>
					<key>kc</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hòa Vang</string>
					<key>lat</key>
					<real>15.987899</real>
					<key>lng</key>
					<real>108.139822</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ten</key>
			<string>Cần Thơ</string>
			<key>lat</key>
			<real>10.035853</real>
			<key>lng</key>
			<real>105.786575</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array>
				<dict>
					<key>ten</key>
					<string>UBND TP Cần Thơ</string>
					<key>lat</key>
					<real>10.035853</real>
					<key>lng</key>
					<real>105.786575</real>
					<key>kc</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Bình Thủy</string>
					<key>lat</key>
					<real>10.074647</real>
					<key>lng</key>
					<real>105.73914</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Cái Răng</string>
					<key>lat</key>
					<real>10.000761</real>
					<key>lng</key>
					<real>105.751058</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Ô Môn</string>
					<key>lat</key>
					<real>10.109613</real>
					<key>lng</key>
					<real>105.622988</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Ninh Kiều</string>
					<key>lat</key>
					<real>10.043747</real>
					<key>lng</key>
					<real>105.78086</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thốt Nốt</string>
					<key>lat</key>
					<real>10.271003</real>
					<key>lng</key>
					<real>105.531637</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Cờ Đỏ</string>
					<key>lat</key>
					<real>10.09642</real>
					<key>lng</key>
					<real>105.429395</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Phong Điền</string>
					<key>lat</key>
					<real>10.002599</real>
					<key>lng</key>
					<real>105.665817</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thới Lai</string>
					<key>lat</key>
					<real>10.060495</real>
					<key>lng</key>
					<real>105.558461</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Vĩnh Thạnh</string>
					<key>lat</key>
					<real>10.25234</real>
					<key>lng</key>
					<real>105.417291</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hải Phòng</string>
			<key>lat</key>
			<real>20.865008</real>
			<key>lng</key>
			<real>106.683844</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array>
				<dict>
					<key>ten</key>
					<string>UBND TP Hải Phòng</string>
					<key>lat</key>
					<real>20.865008</real>
					<key>lng</key>
					<real>106.683844</real>
					<key>kc</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hồng Bàng</string>
					<key>lat</key>
					<real>20.858386</real>
					<key>lng</key>
					<real>106.683871</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Ngô Quyền</string>
					<key>lat</key>
					<real>20.861418</real>
					<key>lng</key>
					<real>106.69401</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Lê Chân</string>
					<key>lat</key>
					<real>20.849087</real>
					<key>lng</key>
					<real>106.680974</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Kiến An</string>
					<key>lat</key>
					<real>20.807136</real>
					<key>lng</key>
					<real>106.625013</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Đồ Sơn</string>
					<key>lat</key>
					<real>20.715728</real>
					<key>lng</key>
					<real>106.782602</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Hải An</string>
					<key>lat</key>
					<real>20.832991</real>
					<key>lng</key>
					<real>106.719999</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Dương Kinh</string>
					<key>lat</key>
					<real>20.807903</real>
					<key>lng</key>
					<real>106.703913</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Vĩnh Bảo</string>
					<key>lat</key>
					<real>20.68858</real>
					<key>lng</key>
					<real>106.48078</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>An Dương</string>
					<key>lat</key>
					<real>20.864326</real>
					<key>lng</key>
					<real>106.613618</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Thủy Nguyên</string>
					<key>lat</key>
					<real>20.913883</real>
					<key>lng</key>
					<real>106.674435</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Kiến Thụy</string>
					<key>lat</key>
					<real>20.75084</real>
					<key>lng</key>
					<real>106.668995</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>An Lão</string>
					<key>lat</key>
					<real>20.821186</real>
					<key>lng</key>
					<real>106.551395</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Tiên Lãng</string>
					<key>lat</key>
					<real>20.728406</real>
					<key>lng</key>
					<real>106.5585</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Cát Hải</string>
					<key>lat</key>
					<real>20.731261</real>
					<key>lng</key>
					<real>107.04816</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>ten</key>
					<string>Bạch Long Vỹ</string>
					<key>lat</key>
					<real>20.862654</real>
					<key>lng</key>
					<real>106.683388</real>
					<key>kc</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ten</key>
			<string>An Giang</string>
			<key>lat</key>
			<real>10.389783</real>
			<key>lng</key>
			<real>105.434449</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bà Rịa Vũng Tàu</string>
			<key>lat</key>
			<real>9.009876988275504</real>
			<key>lng</key>
			<real>107.9379272460938</real>
			<key>kc</key>
			<integer>184</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bắc Giang</string>
			<key>lat</key>
			<real>21.276118</real>
			<key>lng</key>
			<real>106.199973</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bắc Kạn</string>
			<key>lat</key>
			<real>22.14798</real>
			<key>lng</key>
			<real>105.828785</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bạc Liêu</string>
			<key>lat</key>
			<real>9.292471000000001</real>
			<key>lng</key>
			<real>105.726716</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bắc Ninh</string>
			<key>lat</key>
			<real>21.186065</real>
			<key>lng</key>
			<real>106.076315</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bến Tre</string>
			<key>lat</key>
			<real>10.236897</real>
			<key>lng</key>
			<real>106.374888</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bình Định</string>
			<key>lat</key>
			<real>13.772592</real>
			<key>lng</key>
			<real>109.23481</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bình Dương</string>
			<key>lat</key>
			<real>10.980954</real>
			<key>lng</key>
			<real>106.651506</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bình Phước</string>
			<key>lat</key>
			<real>11.534283</real>
			<key>lng</key>
			<real>106.885889</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bình Thuận</string>
			<key>lat</key>
			<real>10.928251</real>
			<key>lng</key>
			<real>108.101536</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Cà Mau</string>
			<key>lat</key>
			<real>9.181856</real>
			<key>lng</key>
			<real>105.143073</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Cao Bằng</string>
			<key>lat</key>
			<real>22.665645</real>
			<key>lng</key>
			<real>106.25803</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Đăk Lắk</string>
			<key>lat</key>
			<real>12.674454</real>
			<key>lng</key>
			<real>108.043654</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Bắc Giang</string>
			<key>lat</key>
			<real>21.276118</real>
			<key>lng</key>
			<real>106.199973</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Đăk Nông</string>
			<key>lat</key>
			<real>12.003026</real>
			<key>lng</key>
			<real>107.692521</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Đồng Nai</string>
			<key>lat</key>
			<real>10.945266</real>
			<key>lng</key>
			<real>106.817252</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Đồng Tháp</string>
			<key>lat</key>
			<real>10.46026</real>
			<key>lng</key>
			<real>105.632954</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Điện Biên</string>
			<key>lat</key>
			<real>21.385913</real>
			<key>lng</key>
			<real>103.015599</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Gia Lai</string>
			<key>lat</key>
			<real>13.979066</real>
			<key>lng</key>
			<real>107.991115</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hà Giang</string>
			<key>lat</key>
			<real>22.828175</real>
			<key>lng</key>
			<real>104.982882</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hà Nam</string>
			<key>lat</key>
			<real>20.547058</real>
			<key>lng</key>
			<real>105.913025</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hà Tĩnh</string>
			<key>lat</key>
			<real>18.34004</real>
			<key>lng</key>
			<real>105.90411</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hải Dương</string>
			<key>lat</key>
			<real>20.94124</real>
			<key>lng</key>
			<real>106.333968</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hòa Bình</string>
			<key>lat</key>
			<real>20.814477</real>
			<key>lng</key>
			<real>105.334011</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hậu Giang</string>
			<key>lat</key>
			<real>9.79508</real>
			<key>lng</key>
			<real>105.483279</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Hưng Yên</string>
			<key>lat</key>
			<real>20.655083</real>
			<key>lng</key>
			<real>106.055188</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Khánh Hòa</string>
			<key>lat</key>
			<real>12.255905</real>
			<key>lng</key>
			<real>109.19673</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Kiên Giang</string>
			<key>lat</key>
			<real>9.958029972336426</real>
			<key>lng</key>
			<real>104.5294189453125</real>
			<key>kc</key>
			<integer>88</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Kon Tum</string>
			<key>lat</key>
			<real>14.345744</real>
			<key>lng</key>
			<real>108.003772</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Lai Châu</string>
			<key>lat</key>
			<real>22.388968</real>
			<key>lng</key>
			<real>103.475878</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Lào Cai</string>
			<key>lat</key>
			<real>22.476153</real>
			<key>lng</key>
			<real>103.973429</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Lạng Sơn</string>
			<key>lat</key>
			<real>21.833187</real>
			<key>lng</key>
			<real>106.760592</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Lâm Đồng</string>
			<key>lat</key>
			<real>11.936439</real>
			<key>lng</key>
			<real>108.444403</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Long An</string>
			<key>lat</key>
			<real>10.540714</real>
			<key>lng</key>
			<real>106.413668</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Nam Định</string>
			<key>lat</key>
			<real>20.434254</real>
			<key>lng</key>
			<real>106.176263</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Nghệ An</string>
			<key>lat</key>
			<real>18.673459</real>
			<key>lng</key>
			<real>105.693055</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Ninh Bình</string>
			<key>lat</key>
			<real>20.258247</real>
			<key>lng</key>
			<real>105.976663</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Ninh Thuận</string>
			<key>lat</key>
			<real>11.565539</real>
			<key>lng</key>
			<real>108.99079</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Phú Thọ</string>
			<key>lat</key>
			<real>21.322302</real>
			<key>lng</key>
			<real>105.401933</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Phú Yên</string>
			<key>lat</key>
			<real>13.095164</real>
			<key>lng</key>
			<real>109.322432</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Quảng Bình</string>
			<key>lat</key>
			<real>17.467217</real>
			<key>lng</key>
			<real>106.622588</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Quảng Nam</string>
			<key>lat</key>
			<real>15.570355</real>
			<key>lng</key>
			<real>108.467722</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Quảng Ngãi</string>
			<key>lat</key>
			<real>15.12216</real>
			<key>lng</key>
			<real>108.800072</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Quảng Ninh</string>
			<key>lat</key>
			<real>20.941636</real>
			<key>lng</key>
			<real>107.1236</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Quảng Trị</string>
			<key>lat</key>
			<real>16.817502</real>
			<key>lng</key>
			<real>107.09916</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Sóc Trăng</string>
			<key>lat</key>
			<real>9.59924</real>
			<key>lng</key>
			<real>105.970518</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Sơn La</string>
			<key>lat</key>
			<real>21.329456</real>
			<key>lng</key>
			<real>103.909431</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Tây Ninh</string>
			<key>lat</key>
			<real>11.314007</real>
			<key>lng</key>
			<real>106.093956</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Thái Bình</string>
			<key>lat</key>
			<real>20.452631</real>
			<key>lng</key>
			<real>106.346537</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Thái Nguyên</string>
			<key>lat</key>
			<real>21.594116</real>
			<key>lng</key>
			<real>105.848475</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Thanh Hóa</string>
			<key>lat</key>
			<real>19.807307</real>
			<key>lng</key>
			<real>105.775184</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Thừa Thiên - Huế</string>
			<key>lat</key>
			<real>16.461367</real>
			<key>lng</key>
			<real>107.583663</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Tiền Giang</string>
			<key>lat</key>
			<real>10.353083</real>
			<key>lng</key>
			<real>106.363116</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Trà Vinh</string>
			<key>lat</key>
			<real>9.937616</real>
			<key>lng</key>
			<real>106.341197</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Tuyên Quang</string>
			<key>lat</key>
			<real>21.822792</real>
			<key>lng</key>
			<real>105.218274</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Vĩnh Long</string>
			<key>lat</key>
			<real>10.254286</real>
			<key>lng</key>
			<real>105.972243</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Vĩnh Phúc</string>
			<key>lat</key>
			<real>21.310716</real>
			<key>lng</key>
			<real>105.603807</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
		<dict>
			<key>ten</key>
			<string>Yên Bái</string>
			<key>lat</key>
			<real>21.70721</real>
			<key>lng</key>
			<real>104.872039</real>
			<key>kc</key>
			<integer>50</integer>
			<key>dsCon</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
